<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.williamnapier.pizauth</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/williamnapier/.local/bin/pizauth</string>
        <string>server</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/williamnapier/Library/Logs/pizauth.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/williamnapier/Library/Logs/pizauth.log</string>
</dict>
</plist>
