[Desktop Entry]
Name=Zoom Personal Meeting
Comment=Start your personal Zoom meeting (kills leftover Zoom first)
Keywords=zoom;meeting;pmi;personal;
Exec=/home/will/.local/bin/zoom-niri %U
TryExec=/home/will/.local/bin/zoom-niri
Icon=Zoom
Terminal=false
Type=Application
Categories=Network;VideoConference;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;x-scheme-handler/zoomphonesms;x-scheme-handler/zoomcontactcentercall;application/x-zoom
Name[en_US]=Zoom Personal Meeting
