<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.collect-projects</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/williamnapier/.local/bin/collect-projects-cron</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>23</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/williamnapier/.local/share/collect-projects-cron.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/williamnapier/.local/share/collect-projects-cron.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/Users/williamnapier/.cargo/bin:/Users/williamnapier/.local/bin</string>
    </dict>
</dict>
</plist>
